* {
    font-family: Roboto, Arial, sans-serif;
}

.link {
    margin-left: 30px;
    margin-right: 40px;
    color: cornflowerblue;
    text-decoration: none;
}

.logo {
    float: left; 
    margin:10px; 
    width:120px; 
    height:120px;
}

body {
    display: flex;
    flex-direction: column;
    margin:0px;
    overflow-x: hidden;
    text-align: center;
}

header {
    width:100%; 
    padding-top: 20px; 
}

footer {
    width:100%; 
    background-color:#333333; 
    /* height: 110px; */
}

.footerName {
    color: wheat;
    text-align: left; 
    font-size: 40px; 
    padding: 30px;
}

input {
    margin-bottom: 10px;
}

form {
    padding: 10px;
}

.links {
    text-align: left;
    background-color: #ddd;
    padding: 10px 40px 10px 40px;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
}

tr:nth-child(even) {
    background: rgba(88, 211, 92, 0.507);
}

tr:nth-child(odd) {
    background: rgba(177, 228, 175, 0.418);
}

tr:nth-child(odd):hover{
    background: rgba(50, 147, 196, 0.24);
}

tr:nth-child(even):hover{
    background: wheat;
}

.noresize {
    resize: vertical;
}

.sizedselect {
    width: 120px; 
    height: 130px;
}

.main-aside-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-aside-wrapper main, .main-aside-wrapper aside {
    background-color: #ddd;
    margin: 10px 0px 10px 0px;
    padding: 10px;
}

.main-aside-wrapper aside {
    flex: 2;
    order: 1;
}

.main-aside-wrapper main {
    flex: 4;
    order: 2;
}

.navbarlinks {
    display: flex;
    background-color: #ddd;
    padding: 10px 0 10px 0;
    color: cornflowerblue;
    text-decoration: none;
    margin-left: 30px;
    margin-right: 40px;
}
  
.logo {
      float: left; 
      width:120px; 
      height:120px;
}

nav {
    font-size: 28px; 
    text-align: right; 
    background-color: white; 
    width: 100%;
}

.header {
    order: 1;
}

.item1 {
    order: 3;
}

.item2 {
    order: 2;
}

.item3 {
    order: 4;
}

footer {
    order: 5;
}
  
@media screen and (min-width: 980px) {
    .main-aside-wrapper {
        flex-direction: row;
    }

    .main-aside-wrapper aside {
        background-color: #ddd;
    }

    .main-aside-wrapper main {
        /* display: inline-block; */
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
  
    .navbarlinks {
        padding-top: 40px;
    }

    nav {
        background-color: #ddd;
        font-size: 30px;
    }

    .sitename {
        text-align: left;
        padding-right: 100px;
    }

    .links {
        display: inline-block;
        width: auto;
    }

    .item1 {
        order: 2;
    }
    
    .item2 {
        order: 3;
        width: 50%;
        align-self: center;
    }
}