* {
    font-family: Roboto, Arial, sans-serif;
}

.link {
    margin-left: 30px;
    margin-right: 40px;
    color: cornflowerblue;
    text-decoration: none;
}

.logo {
    float: left; 
    margin:10px; 
    width:120px; 
    height:120px;
}

body {
    margin:0px;
    overflow-x: hidden;
    text-align: center;
}

header {
    width:100%; 
    background-color:#333333; 
    padding-top: 20px; 
    height:150px;
}

nav {
    font-size: 35px; 
    text-align: right; 
    background-color: #ddd; 
    width: 100%;
}

footer {
    width:100%; 
    background-color:#333333; 
    height: 110px;
}

.footerName {
    color: wheat;
    text-align: left; 
    font-size: 40px; 
    padding: 30px;
}

input {
    margin-bottom: 10px;
}

form {
    padding: 10px;
}

.sitename {
    color: wheat;
    text-align: left;
}

.links {
    display: inline-block; 
    text-align: left;
    background-color: #ddd;
    padding: 10px 40px 10px 40px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table.center {
    margin-left: auto; 
    margin-right: auto;
    width: 500px;
}

tr:nth-child(even) {
    background: rgba(88, 211, 92, 0.507);
}

tr:nth-child(odd) {
    background: rgba(177, 228, 175, 0.418);
}

tr:nth-child(odd):hover{
    background: rgba(50, 147, 196, 0.24);
}

tr:nth-child(even):hover{
    background: wheat;
}

.navbarlinks {
    background-color:#ddd;
}

.noresize {
    resize: vertical;
}

.sizedselect {
    width: 120px; 
    height: 130px;
}